# Copy to .env and adjust values for your machine
AWS_PROFILE=default
AWS_REGION=us-east-1
AGENT_RUNTIME_ARN=arn:aws:bedrock-agentcore:us-east-1:419466290453:runtime/htmx_chatapp_iava-q2e5r0DYmQ
AGENTCORE_GUARDRAIL_ID=wb4578p8755b
AGENTCORE_GUARDRAIL_VERSION=1
# DAYONE_REPO_PATH=../dayone
PORT=8000
